<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>再生</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/send_url.js"></script>
    </head>
    <body class="play_background">
        <div class="play_text">
            <div>
                <h1>呼吸のコントロール</h1>
                <h2>お腹が膨らむのを感じて<br>ゆっくりと呼吸をしましょう。</h2>
            </div>
        </div>
    </body>
</html>