<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>気分を選択</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="background">
      <div class="select_feeling_container">
        <h1>今の気分は?</h1>
        <div class="feelings_container">
          <div class="feeling_button f1">
            <a href="/feeling/sad">悲しい</a>
          </div>
          <div class="feeling_button f2">
            <a href="/feeling/lonely">寂しい</a>
          </div>
          <div class="feeling_button f3">
            <a href="/feeling/exicitement">興奮</a>
          </div>
          <div class="feeling_button f4">
            <a href="/feeling/irritation">いらいら</a>
          </div>
          <div class="feeling_button f5">
            <a href="/feeling/impatience">焦り</a>
          </div>
          <div class="feeling_button f6">
            <a href="/feeling/nervous">緊張</a>
          </div>
          <div class="feeling_button f7">
            <a href="/feeling/anxiety">不安</a>
          </div>
          <div class="feeling_button f8">
            <a href="">(仮置き)</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="select_footer">
      <!-- <h1>フッター</h1> -->
      <a href="/title"
        ><img class="select_button_footer" src="/images/title-button.png" alt=""
      /></a>
      <a href="/select_feeling"
        ><img class="select_button_footer" src="/images/play-button.png" alt=""
      /></a>
    </footer>
  </body>
</html>
