<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>egrus_title</title>
    <link rel = "stylesheet" href = "/css/style.css">
  </head>
  <body>
    <div class = "title_logo">
      <h3>EGRUS</h3>
    </div>
    <div class = "title_content">
      <p1>--悲しい、不安だ、いらいらする…<br>
        日常生活の中で気分がよくないこと、よくありますよね。<br>
      EGRUSはそんな感情を画像と音楽で癒してくれます。<br>
    あなたの今の気分に合わせた画像と音楽でリラックスしましょう。</p1>
    </div>
    <footer class="title_footer">
      <a href="/title"><img class="title_button_footer" src="/images/title-button.png" alt=""></a>
      <a href="/select_feeling"><img class="title_button_footer" src="/images/play-button.png" alt=""></a>
    </footer>
  </body>
</html>