<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>興奮</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <!-- bodyタグの中に記述してください -->
    <h2>跡形</h2>
    <audio controls>
      <source src="/audio/atokata.mp3" type="audio/mp3" />
    </audio>
  </body>
</html>
