<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>寂しさ</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <!-- bodyタグの中に記述してください -->
    <h2>それゆけワンダーランド</h2>
    <audio controls>
      <source src="/audio/wonderland.wav" type="audio/wav" />
    </audio>
  </body>
</html>
