<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>悲しさ</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
    <script>
      function hidden_btn(){
          document.getElementById("play_btn").style.visibility ="hidden";
      }
      function music(){
          document.getElementById("bgm").play();
      }
  </script>
  </head>

  <body class="play_background sad">
    <!-- bodyタグの中に記述してください -->
      <div class="play_text">
          <div>
              <h1>呼吸のコントロール</h1>
              <h2>お腹が膨らむのを感じて<br>ゆっくりと呼吸をしましょう。</h2>
          </div>
      </div>
      <button id="play_btn" type="button" onclick="music();hidden_btn()">
          <img src="/images/play_icon.png" alt="再生">
      </button>
      <audio id="bgm">
        <source src="/audio/wonderland.wav" type="audio/wav" />
      </audio>

    <!--<h2>それゆけワンダーランド</h2>
    <audio controls>
      <source src="/audio/wonderland.wav" type="audio/wav" />
    </audio>-->
  </body>
</html>
