<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>悲しさ</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <!-- bodyタグの中に記述してください -->
    <h2>波紋に揺れる</h2>
    <!-- <audio controls>
      <source src="/public/audio/hamon.wav" type="audio/wav" />
    </audio> -->
    <audio src="/audio/hamon.wav" controls></audio>
  </body>
</html>
